*{
    padding: 0;
    margin: 0;
}

.body-section{
    padding: 40px 150px;
    min-height: 75vh;
}

.emptyMessage{
    font-size: 24px;
    text-align: center;
    margin-top: 70px;
}

@media(max-width:768px){
    .body-section{
        padding: 40px 100px;
    }
}

@media(max-width:480px){
    .body-section{
        padding: 40px;
    }
}