@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

header {
    background-color: #e1e6ea;
    text-align: center;
    padding: 10px 150px 4px 150px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header img {
    width: 100px;
    height: 50px;
    border-radius: 5px;
}


@media(min-width:768px) and (max-width:991px) {

    header {
        padding: 10px 80px 4px 80px;
    }

}

@media(max-width:767.98px) {
    header {
        padding: 10px 20px 4px 20px;
    }
}