@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
}

.navBar {
    background-color: #e0e0e0;
    width: 50px;
}

.navBar ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.navBar ul li {
    cursor: pointer;
}

.container {
    width: 100%;
}

.header {
    background-color: #333333;
    padding: 30px;
    display: flex;
    color: white;
}

header img {
    margin-right: 30px;
}

.album_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_options ul li {
    margin-right: 15px;
    cursor: pointer;
}

.header_options ul li span {
    margin-left: 5px;
}